*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
       
}

header, footer{
    background-color: #333c49;
    color:white;
    height: 4.0625rem;
}

main{
    padding:2.5rem;
    min-height: 100vh;
    width: 60vw;
    margin: 0 auto;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.25rem;
    
}

nav > ul > li{
    font-family:'Open Sans', sans-serif; 
    width: 50%;
    height: 70%;
    background: rgb(46, 46, 46);
    border-radius: 2px;
}

.active{
    background: rgb(112, 112, 112);
}

nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

#vak1:hover , #vak2:hover ,#vak3:hover ,#vak4:hover{
    color:rgba(182, 180, 180, 0.548);
}

h1{
    font-size: 250%;
    border-bottom: 1px solid black;
    font-weight: 500;
}

section{
    width: 100%;
    
    padding: 2.5rem;
}

section > h1 { 
    margin-bottom: 1.25rem;
}

article{
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
}

.acindex{
    width: 100%;
    height: 25rem;
    padding: 0;
    position: relative;
    margin-bottom: 2.5rem;
}

.acindex > a > figure{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    
}

.acindex > a > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
    border-radius: 3.125rem;
    
}

.acindex > a > figure > img:hover{
    transform: none
}

.acindex > a > section{
    position: absolute;
    bottom:0;
    left: 0;
    padding: 2.5rem;
    color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent,60%,black);
    border-radius: 3.125rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column
}



.acindex > section > p{
    margin: 0;
}

figure{
    margin-bottom: 2.5rem;
}


#indeximg{
    filter:blur(3px)

}

img{
    width: 100%;
    margin-top: 1.25rem;
    border-radius: 5px;
    transition: 0.5s transform;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottem-left {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    transition: 0.5s transform;
}

img:hover, .bottem-left:hover{
    transform: scale(1.05);
}    

p{
    margin-bottom: 1.25rem;
}

p:first-of-type{
    margin-top: 1.25rem;
}

p:lastof-type{
    margin-bottom: 0;
    
}

figcaption{
    font-size: 80%;
    font-style: italic;
    font-weight: 400;
    margin-top: 0.625rem;
}

audio{
    display: block;
    margin-top: 1.25rem;
}

video{
    width: 100%;
    margin-bottom: 2.5px;
    border-radius: 5px;
}

.top{
    width: 4.375rem;
    height: 4.375rem;
    background: #222831;
    border: none;
    font-size: 120%;
    font-family:'Open Sans', sans-serif; 
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 6.25rem;
    right: 4.688rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height: 3.75rem;
    display: flex;
    justify-content: center;
}

footer > p{
    width: 60vw;
    margin-bottom:0;
    padding-left: 5rem;
}


@media screen and (max-width:1000px) {
    main{
        width: 80vw;
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    .top{
        width: 3.125rem;
        height: 3.125rem;
        bottom: 3.125rem;
        right: 2.813rem;
        font-size: 110%;
    }
    header{
        height: auto;
    }
    nav{
        width: 100%;
    }
    
    nav > ul{
        display: block;
    }
    nav > ul > li{
        width: 100%;
        height: 3.125rem;
    }
}

@media screen and (max-width:600px) {
    main{
        width: 100vw; 
        padding: 1.25rem;
    }
    body{
        font-size: 1rem;
    }
    h1{
        font-size: 180%;
    }
    footer > p {
        width: 100vw;
        padding-left: 3.75rem;
    }
}

